In [ ]:
pip install sqlalchemy

In [ ]:
pip install psycopg2-binary

In [ ]:
pip install ipython-sql

In [6]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [16]:
%sql postgresql://postgres:accident_analysis@localhost:5432/claims_analysis

In [17]:
%%sql


CREATE TABLE IF NOT EXISTS claims_analysis (
    "ID" INT,
    "KIDSDRIV" INT,
    "PLCYDATE" VARCHAR,
    "TRAVTIME" INT,
    "CAR_USE" VARCHAR,
    "POLICYNO" INT,
    "BLUEBOOK" VARCHAR,
    "INITDATE" VARCHAR,
    "RETAINED" INT,
    "NPOLICY" INT,
    "CAR_TYPE" VARCHAR,
    "RED_CAR" VARCHAR,
    "OLDCLAIM" VARCHAR,
    "CLM_FREQ" INT,
    "REVOKED" VARCHAR,
    "MVR_PTS" INT,
    "CLM_AMT" VARCHAR,
    "CLM_DATE" VARCHAR,
    "CLM_FLAG" VARCHAR,
    "BIRTH" VARCHAR,
    "AGE" VARCHAR,
    "HOMEKIDS" INT,
    "YOJ" FLOAT,
    "INCOME" VARCHAR,
    "GENDER" VARCHAR,
    "MARRIED" VARCHAR,
    "PARENT1" VARCHAR,
    "JOBCLASS" VARCHAR,
    "MAX_EDUC" VARCHAR,
    "HOME_VAL" VARCHAR,
    "SAMEHOME" FLOAT,
    "DENSITY" VARCHAR,
    "YEARQTR" VARCHAR
)

 * postgresql://postgres:***@localhost:5432/claims_analysis
Done.

[]

In [ ]:
!pip install xlrd

In [ ]:
import pandas as pd
excel_file_path = '/Users/tshmacm1173/Desktop/Sprint 5/claims_analysis/data.xls'
data = pd.read_excel(excel_file_path)
csv_file_path = '/Users/tshmacm1173/Desktop/Sprint 5/claims_analysis/data.csv'
data.to_csv(csv_file_path, index=False)

In [27]:
%%sql

SET datestyle TO 'ISO, DMY';

COPY claims_analysis(
    "ID",
    "KIDSDRIV",
    "PLCYDATE",
    "TRAVTIME",
    "CAR_USE",
    "POLICYNO",
    "BLUEBOOK",
    "INITDATE",
    "RETAINED",
    "NPOLICY",
    "CAR_TYPE",
    "RED_CAR",
    "OLDCLAIM",
    "CLM_FREQ",
    "REVOKED",
    "MVR_PTS",
    "CLM_AMT",
    "CLM_DATE",
    "CLM_FLAG",
    "BIRTH",
    "AGE",
    "HOMEKIDS",
    "YOJ",
    "INCOME",
    "GENDER",
    "MARRIED",
    "PARENT1",
    "JOBCLASS",
    "MAX_EDUC",
    "HOME_VAL",
    "SAMEHOME",
    "DENSITY",
    "YEARQTR"
)
FROM '/Users/tshmacm1173/Desktop/Sprint 5/claims_analysis/data.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5432/claims_analysis
Done.
10296 rows affected.

[]

In [14]:
import pandas as pd
data = pd.read_csv('/Users/tshmacm1173/Desktop/Sprint 5/claims_analysis/data.csv')
data.head()

,ID,KIDSDRIV,PLCYDATE,TRAVTIME,CAR_USE,POLICYNO,BLUEBOOK,INITDATE,RETAINED,NPOLICY,...,INCOME,GENDER,MARRIED,PARENT1,JOBCLASS,MAX_EDUC,HOME_VAL,SAMEHOME,DENSITY,YEARQTR
0,100058542,0,17mars96,17,Private,36292520,$9860,06février90,6,2,...,NaN,M,Yes,No,Clerical,<High School,$123721,7.0,Highly Urban,1996Q1
1,100093408,0,26juillet93,18,Private,31958061,$1500,25aoűt89,4,2,...,$4457,M,No,Yes,Student,High School,$0,1.0,Urban,1993Q3
2,100208113,0,06juin94,47,Commercial,42433312,$30460,07juin90,4,1,...,$102904,M,No,No,NaN,Masters,$0,18.0,Urban,1994Q2
3,100237269,0,19janvier99,31,Private,49896544,$16580,01avril95,4,2,...,$14554,F,Yes,No,Student,High School,$0,8.0,Rural,1999Q1
4,10042968,0,18mai99,14,Commercial,79298192,$23030,19mai95,4,1,...,$99493,F,Yes,No,Blue Collar,High School,$288808,1.0,Urban,1999Q2

In [ ]:
!pip install pandas sqlalchemy psycopg2-binary

In [12]:
%load_ext sql

In [16]:
%sql postgresql://postgres:accident_analysis@localhost:5432/claims_analysis

In [21]:
%%sql

CREATE TABLE IF NOT EXISTS Car_Use (
    "car_use_id" SERIAL PRIMARY KEY,
    "caruse" VARCHAR
);

CREATE TABLE IF NOT EXISTS Car_Type (
    "car_type_id" SERIAL PRIMARY KEY,
    "cartype" VARCHAR
);

CREATE TABLE IF NOT EXISTS Red_Car (
    "red_car_id" SERIAL PRIMARY KEY,
    "redcar" VARCHAR
);

CREATE TABLE IF NOT EXISTS Revoked (
    "revoked_id" SERIAL PRIMARY KEY,
    "revoked" VARCHAR
);

CREATE TABLE IF NOT EXISTS Claim_Flag (
    "claim_flag_id" SERIAL PRIMARY KEY,
    "claimflag" VARCHAR
);

CREATE TABLE IF NOT EXISTS Age (
    "age_id" SERIAL PRIMARY KEY,
    "age" VARCHAR
);

CREATE TABLE IF NOT EXISTS Married (
    "married_id" SERIAL PRIMARY KEY,
    "married" VARCHAR
);

CREATE TABLE IF NOT EXISTS Gender (
    "gender_id" SERIAL PRIMARY KEY,
    "gender" VARCHAR
);

CREATE TABLE IF NOT EXISTS Parent1 (
    "parent1_id" SERIAL PRIMARY KEY,
    "parent1" VARCHAR
);

CREATE TABLE IF NOT EXISTS JobClass (
    "jobclass_id" SERIAL PRIMARY KEY,
    "jobclass" VARCHAR
);

CREATE TABLE IF NOT EXISTS Max_Education (
    "max_edu_id" SERIAL PRIMARY KEY,
    "max_edu" VARCHAR
);

CREATE TABLE IF NOT EXISTS Density (
    "density_id" SERIAL PRIMARY KEY,
    "density" VARCHAR
);

CREATE TABLE IF NOT EXISTS YearQTR (
    "yearqtr_id" SERIAL PRIMARY KEY,
    "yearqtr" VARCHAR
);

CREATE TABLE IF NOT EXISTS Customer (
    "customer_id" SERIAL PRIMARY KEY,
    "age_id" INT,
    "income" VARCHAR,
    "gender_id" INT,
    "married_id" INT,
    "parent1_id" INT,
    "jobclass_id" INT,
    "max_edu_id" INT,
    "density_id" INT,
    "home_val" VARCHAR,
    "same_home" FLOAT
);

CREATE TABLE IF NOT EXISTS insurance_policy (
    "policy_id" SERIAL PRIMARY KEY,
    "customer_id" INT,
    "yearqtr_id" INT,
    "policyNo" INT,
    "revoked_id" INT,
    "policydate" VARCHAR,
    "initdate" VARCHAR,
    "retained" INT,
    "npolicy" INT,
    "kidsDriv" INT
);

CREATE TABLE IF NOT EXISTS vehicles (
    "vehicle_id" SERIAL PRIMARY KEY,
    "customer_id" INT,
    "car_use_id" INT,
    "red_car_id" INT,
    "car_type_id" INT,
    "bluebook" VARCHAR
);

CREATE TABLE IF NOT EXISTS claims (
    "claim_id" SERIAL PRIMARY KEY,
    "customer_id" INT,
    "claim_flag_id" INT,
    "old_claim" VARCHAR,
    "claim_freq" INT,
    "claim_amt" VARCHAR,
    "claim_date" VARCHAR
);

CREATE TABLE IF NOT EXISTS travel_details (
    "travel_id" SERIAL PRIMARY KEY,
    "customer_id" INT,
    "traveltime" INT
);

 * postgresql://postgres:***@localhost:5432/claims_analysis
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [27]:
def get_id_mapping(table_name, column_name):
    query = f'SELECT {column_name}, {table_name.lower()}_id FROM {table_name}'
    df = pd.read_sql(query, engine)
    return dict(zip(df[column_name], df[f'{table_name.lower()}_id']))

In [28]:
import pandas as pd
from sqlalchemy import create_engine

# Connect to PostgreSQL Database
engine = create_engine('postgresql://postgres:accident_analysis@localhost:5432/claims_analysis')

# Load the flat dataset
data = pd.read_csv('/Users/tshmacm1173/Desktop/Sprint 5/claims_analysis/data.csv')

# Insert data into normalized tables
def insert_data(table_name, df, columns):
    df[columns].drop_duplicates().to_sql(table_name, engine, if_exists='append', index=False)

insert_data('Car_Use', data, ['CAR_USE'])
insert_data('Car_Type', data, ['CAR_TYPE'])
insert_data('Red_Car', data, ['RED_CAR'])
insert_data('Revoked', data, ['REVOKED'])
insert_data('Claim_Flag', data, ['CLM_FLAG'])
insert_data('Age', data, ['AGE'])
insert_data('Married', data, ['MARRIED'])
insert_data('Gender', data, ['GENDER'])
insert_data('Parent1', data, ['PARENT1'])
insert_data('JobClass', data, ['JOBCLASS'])
insert_data('Max_Education', data, ['MAX_EDUC'])
insert_data('Density', data, ['DENSITY'])
insert_data('YearQTR', data, ['YEARQTR'])

# Insert data into Customer table
customer_columns = ['AGE', 'INCOME', 'GENDER', 'MARRIED', 'PARENT1', 'JOBCLASS', 'MAX_EDUC', 'DENSITY', 'HOME_VAL', 'SAMEHOME']
customer_df = data[customer_columns].drop_duplicates().reset_index(drop=True)
customer_df.to_sql('Customer', engine, if_exists='append', index=False)

# Insert data into insurance_policy table
insurance_policy_columns = ['POLICYNO', 'PLCYDATE', 'INITDATE', 'RETAINED', 'NPOLICY', 'KIDSDRIV']
insurance_policy_df = data[insurance_policy_columns].drop_duplicates().reset_index(drop=True)
insurance_policy_df.columns = ['policyNo', 'policydate', 'initdate', 'retained', 'npolicy', 'kidsDriv']
insurance_policy_df.to_sql('insurance_policy', engine, if_exists='append', index=False)

# Get ID mappings
car_use_mapping = get_id_mapping('Car_Use', 'caruse')
red_car_mapping = get_id_mapping('Red_Car', 'redcar')
car_type_mapping = get_id_mapping('Car_Type', 'cartype')
claim_flag_mapping = get_id_mapping('Claim_Flag', 'claimflag')

# Map string values to IDs for vehicles table
vehicles_df = data[['CAR_USE', 'RED_CAR', 'CAR_TYPE', 'BLUEBOOK']].drop_duplicates().reset_index(drop=True)
vehicles_df['car_use_id'] = vehicles_df['CAR_USE'].map(car_use_mapping)
vehicles_df['red_car_id'] = vehicles_df['RED_CAR'].map(red_car_mapping)
vehicles_df['car_type_id'] = vehicles_df['CAR_TYPE'].map(car_type_mapping)
vehicles_df = vehicles_df[['car_use_id', 'red_car_id', 'car_type_id', 'BLUEBOOK']]
vehicles_df.columns = ['car_use_id', 'red_car_id', 'car_type_id', 'bluebook']
vehicles_df.to_sql('vehicles', engine, if_exists='append', index=False)

# Map string values to IDs for claims table
claims_df = data[['CLM_FLAG', 'OLDCLAIM', 'CLM_FREQ', 'CLM_AMT', 'CLM_DATE']].drop_duplicates().reset_index(drop=True)
claims_df['claim_flag_id'] = claims_df['CLM_FLAG'].map(claim_flag_mapping)
claims_df = claims_df[['claim_flag_id', 'OLDCLAIM', 'CLM_FREQ', 'CLM_AMT', 'CLM_DATE']]
claims_df.columns = ['claim_flag_id', 'old_claim', 'claim_freq', 'claim_amt', 'claim_date']
claims_df.to_sql('claims', engine, if_exists='append', index=False)

# Insert data into travel_details table
travel_details_columns = ['TRAVTIME']
travel_details_df = data[travel_details_columns].drop_duplicates().reset_index(drop=True)
travel_details_df.columns = ['traveltime']
travel_details_df.to_sql('travel_details', engine, if_exists='append', index=False)

100